<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Willow - No Credit</title>
</head>
<style>
   .center {
           display: block;
           margin-left: auto;
           margin-right: auto;
           width: 50%;
         }
</style>
<body>
   <header>
       <h1 align="middle">Due To Cheating, 0 Credits Will Be Allocated For This Session</h1>
       <img src="emoji.png" width="600" height="650" class="center">
      
       <body style="background-color:lightcyan;"></body>
 
      
 
     </header>
    
</body>
</html>